.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
   
    bottom: 0; /* Lo fijamos en la parte inferior */
    left: 0; /* Lo alineamos a la izquierda */
    width: 100%; /* Ocupa todo el ancho */
    margin-top: 50px;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content p {
    margin: 5px 0;
  }
  